@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
    background-color: #F8F9FA;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 1em;
    transition: 1s;
}

p {
    margin: 0;
}

.header {
  position: sticky;
  top: 0;
  background-color: #F8F9FA;
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 4rem;
  padding-right: 1rem;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  transition: 1s;
}

.header-mobile {
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #F8F9FA;
    width: 100%;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    transition: 1s;
}

header a {
    text-decoration: none;
    color: #6C757D;
    font-size: 1rem;
    transition: 1s;
}

header a.selected {
    color: #507DBC;
}

header ul{
    list-style: none;
}

.nav{
    width: 100%;
    position: fixed;
    overflow: hidden;
    background-color: #F8F9FA;
    transition: 1s;
    box-shadow: 0px 15px 15px -15px rgba(0, 0, 0, 0.15);
}
.menu a{
    color: #6C757D;
    font-size: 1.5rem;
    transition: 1s;
}

.nav{
    max-height: 0;
    transition: max-height .5s ease-out;
}

.content {
    margin: 3% 8%;
}

.content>.title-all {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.content>.title-all>p {
    color: #000;
    font-size: 2rem;
    font-weight: 600;
    transition: 1s;
}

.content>.title-all>.container {
    background-color: #E9ECEF; 
    width: 20%;
    transition: 1s;
}

.content>.title-all>.container>.bar {
    background-color: #507DBC;
    padding: 0.7%;
    border-radius: 20px;
    width: 40%;
}

footer {
    margin-top: auto;
    height: 12vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #ADB5BD;
    padding: 0px 5rem;
}

footer .footer-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

footer .footer-icons i {
    font-size: 2rem;
    color: #495057;
    transition: 1s;
}

footer p {
    font-size: 1rem;
    color: #6C757D;
    transition: 1s;
}

.footer-container {
display: flex;
flex-direction: row;
align-items: center;
gap: 4rem;
font-size:x-large;
font-weight: 600;
color: #495057;
transition: 1s;
}

a.selected {
color: #507DBC;
}

a.selectable{
    cursor: pointer;
    text-decoration: none;
    color: #495057;
    transition: 1s;
}

.btn-mobile {
    display: none;
}

.hamb {
  display: none;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav{
  max-height: 50%;
}

.btn{
    background-color: #fff;
    width: 4em;
    height: 2em;
    padding: 0.2em;
    border-radius: 10em;
    box-shadow: inset 0 8px 60px rgba(0,0,0, .1),
                inset 0 8px 8px rgba(0,0,0, .1),
                inset 0 -4px 4px rgba(0,0,0, .1);
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.btn__indicator{
    background-color: #fff;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    position: absolute;
    transition: transform .3s ease;
}

.btn__icon-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn__icon{
    color: #FFDE59;
    font-size: 1rem;
}

.btn__icon-mobile{
    color: #FFDE59;
    font-size: 1rem;
}

@media (max-width: 860px) {
    .header {
      display: none;
    }

    footer {
        flex-direction: column;
        padding: 0;
        padding-top: 1rem;
        justify-content: space-around;
    }

    header i{
        color: #6C757D;
        font-size: 2rem;
    }
    
    .hamb{
      display: block;
      cursor: pointer;
      float: right;
      padding: 5% 5%;
    }
    
    .logo {
        display: inline-block;
        font-size: 2rem;
        color: #6C757D;
        margin-left: 5%;
        margin-top: 3%;
        font-weight: 600;
    }
    
    .btn-mobile{
        background-color: #fff;
        width: 4em;
        margin-left: 5%;
        margin-top: 3%;
        height: 2em;
        padding: 0.2em;
        border-radius: 10em;
        box-shadow: inset 0 8px 60px rgba(0,0,0, .1),
                    inset 0 8px 8px rgba(0,0,0, .1),
                    inset 0 -4px 4px rgba(0,0,0, .1);
        position: relative;
        display: inline-block;        
        align-items: center;
        cursor: pointer;
    }
}

/* -------------- DARKMODE -------------- */
body.darkmode{
    background-color: #000;
}

.darkmode .header{
    background-color: #000;
}

.darkmode .header-mobile{
    background-color: #000;
}

.darkmode header a{
    color: #fff;
}

.darkmode .nav{
    background-color: #000;
}

.darkmode .selected{
    color: #507DBC;
}

.darkmode .menu a{
    color: #fff;
}

.darkmode .content>.title-all>p{
    color: #fff;
}

.darkmode footer .footer-icons i{
    color: #fff;
}

.darkmode footer p{
    color: #fff;
}

.darkmode .footer-container{
    color: #fff;
}

.darkmode a.selectable{
    color: #fff;
}

.darkmode header i{
    color: #fff;
}

.darkmode .btn{
    box-shadow: inset 0 8px 60px rgba(0,0,0, .3),
                inset 8px 0 8px rgba(0,0,0, .3),
                inset 0 -4px 4px rgba(0,0,0, .3);
}

.darkmode .btn__indicator{
    transform: translateX(2em);
    background-color: #2b2b2b;
    box-shadow: 0 8px 40px rgba(0,0,0, .3);
}

.darkmode .btn__icon{
    color: #fff;
}