.contact-content {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.contact-content>form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 30%;
}

.contact-content>form>.contact-input {
	background: #F8F9FA;
	height: 15%; 
  color: #6C757D;
	border-radius: 10px;  
	border-style: solid; 
	border-width: 1px;
  font-family: 'Poppins', sans-serif;
	border-color: #ADB5BD; 
	padding-left: 4%;
  box-sizing: border-box;
}

.contact-content>form>.contact-input:focus {
	border-color: #507DBC;
  border-width: 2px; 
}

.contact-content>form>.contact-textarea {
	height: 120px;
  padding-top: 2%;
  resize: none;
}

.contact-content>form>button {
  font-family: 'Poppins', sans-serif;
  width: 30%;
  margin-top: 1%;
  padding: 0.5rem;
  color: #333;
  font-size: 1rem;
  border-radius: 13px;
  border: 2px solid #507DBC;
  background: #F8F9FA;
  cursor: pointer;
}

.contact-content>form>button:hover {
  background: #507DBC;
  color: #F8F9FA;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.info-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.info-item>p {
  font-size: 1rem;
  color: #6C757D;
}

.info-item>i {
  font-size: 1.3rem;
  color: #333333;
}

textarea:focus, input:focus {
  outline: none;
}

::placeholder {
  color: #CED4DA;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #CED4DA;
}

::-ms-input-placeholder {
  color: #CED4DA;
}


@media (max-width: 860px) {
  .contact-content {
      flex-direction: column;
      gap: 2rem;
  }
  .contact-content>form{
    width: 80%;
    padding-top: 1rem;
  }
}

/* -------------- DARKMODE -------------- */
.darkmode .contact-content>form>.contact-input{
  border: none;
}

.darkmode .contact-content>form>button{
  border: none;
}

.darkmode .info-item>p{
  color: #fff;
}

.darkmode .info-item>i{
  color: #fff;
}