@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.content {
    display: flex;
    flex-direction: row;
    gap: 5vh;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.content>.circle-image {
    display: inline-block;
    position: relative;
    border-radius: 50%;
    background-color: #e9e9e9;
    border: solid 1.5rem #F8F9FA;
    overflow: hidden;
    width: 32vh;
    height: 32vh;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.content>.circle-image>img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.content>.content-text {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.content>.content-text>.text-hi {
    color: #6C757D;
    font-size: 1.5rem;
}

.content>.content-text>.text-name {
    color: #333;
    font-size: 2.5rem;
    font-weight: 600;
}

.content>.content-text>.text-description {
    color: #343A40;
    font-size: 1.2rem;
}

.content>.content-text>.text-description>a {
    color: #507DBC;
    text-decoration: none;
}

.content>.content-text>button {
    font-family: 'Poppins', sans-serif;
    width: 40%;
    padding: 8px;
    color: #333;
    font-size: 1.2rem;
    border-radius: 13px;
    border: 2px solid #507DBC;
    background: #F8F9FA;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.content>.content-text>button:hover {
    background: #507DBC;
    color: #F8F9FA;
}

@media (max-width: 860px) {
    .content {
        flex-direction: column;
    }

    .content>.content-text>.text-hi {
        font-size: 1.2rem;
    }
    
    .content>.content-text>.text-name {
        font-size: 1.8rem;
    }
    
    .content>.content-text>.text-description {
        font-size: 1rem;
    }

    .content>.content-text>button {
        width: 45%;
        font-size: 1rem;
    }

    .content>.content-text {
        text-align: center;
        align-items: center;
        gap: 1rem;
    }
}